
#extension__manager .pm_menu,
#extension__manager p,
#extension__manager label {
    text-align: right;
}

#extension__manager .pm_menu ul li a {
    float: right;
}

#extension__manager .common fieldset {
    text-align: right;
}


#extension__manager  .legend {
    text-align: right;
}
