
#plugin__manager .pm_menu,
#plugin__manager p,
#plugin__manager label {
    text-align: right;
}

#plugin__manager .pm_menu ul li a {
    float: right;
}

#plugin__manager .common fieldset {
    text-align: right;
}


#plugin__manager  .legend {
    text-align: right;
}
