/*
 * admin plugin extension - style additions
 *
 * @author  Christopher Smith  chris@jalakai.co.uk
 * @link    http://wiki.jalakai.co.uk/dokuwiki/doku.php/tutorials/adminplugin
 */

/*
 * tab support not included in "Angua", copied from _mediamanager.css
 */
#extension__manager .panelHeader {
    background-color: __background_alt__;
    margin-bottom: 10px;
    padding: 10px 10px 8px;
    text-align: left;
    min-height: 20px;
    overflow: hidden;
}
#extension__manager .panelHeader h3 {
    float: left;
    font-weight: normal;
    font-size: 1em;
    padding: 0;
    margin: 0 0 3px;
}
#extension__manager ul.tabs div.message {
    display:inline;
    margin: 0 0 0 0.5em;
}

/*
 * general layout
 */
#extension__manager h2 {
    margin-left: 0;
}
#extension__manager a.taglink {
    padding: 1px 4px;
    background-color: #dedede;
    border-radius: 3px;
}
#extension__manager .panelHeader div.error{
    margin-top: 5px;
}
/*
 * search & url download forms
 */
#extension__manager .panelHeader form {
    float: right;
}
#dw__url,
#extensionplugin__searchtext {
    width: 200px;
}
#extension__manager .tagcloud {
    width: 55%;
    float: left;
}
#extension__manager fieldset {
    margin-top: 0.5em;
    width: auto;
}
#extension__manager fieldset p{
    margin: 0.5em;
    text-align: justify;
    font-size: 85%
}
/* tag cloud */
#extension__manager a.cl0 { font-size: 0.7em; }
#extension__manager a.cl1 { font-size: 0.9em; }
#extension__manager a.cl2 { font-size: 1em; }
#extension__manager a.cl3 { font-size: 1.3em; }
#extension__manager a.cl4 { font-size: 1.6em; }
#extension__manager a.cl5 { font-size: 1.9em; }
/*
 * multiselect controls
 */
#extension__manager .checks {
    margin-left: 1em;
    display: none;
}
#extension__manager .checkall:hover,
#extension__manager .checknone:hover {
    text-decoration: underline;
    cursor: pointer;
}
#extension__manager input.button {
    margin-left: 0.2em;
}
/*
 * extensions table
 */
#extension__manager table {
    width: 100%;
}
#extension__manager table td {
    vertical-align: middle;
    border-style: solid none;
}
#extension__manager .selection {
    width: 5%;
    text-align: center;
}
#extension__manager .legend {
    vertical-align: top;
    padding: 0.3em 0.5em 0.2em 0.2em;
}
#extension__manager .plugin.enabled td.legend {
    background: transparent url(images/plugin_enabled.png) no-repeat 2px 2px;
}
#extension__manager .plugin.disabled td.legend {
    background: transparent url(images/plugin_disabled.png) no-repeat 2px 2px;
}
#extension__manager .plugin td.legend {
    background: transparent url(images/plugin_repo.png) no-repeat 2px 2px;
}
#extension__manager .template.enabled td.legend {
    background: transparent url(images/template.png) no-repeat 2px 2px;
}
#extension__manager .template.disabled td.legend {
    background: transparent url(images/template.png) no-repeat 2px 2px;
}
#extension__manager .template td.legend {
    background: transparent url(images/template.png) no-repeat 2px 2px;
}
#extension__manager .legend img {
    margin: 2px;
    float: left;
}
#extension__manager .legend label {
    margin-left: 52px;
    font-size: 120%;
    font-weight: bold;
}
#extension__manager .legend p {
    margin: 0.2em 0em 0.2em 52px;
}
#extension__manager .legend span {
    margin-left: 52px;
}
#extension__manager .legend  input.button {
    background: transparent url(images/down.png) no-repeat 0 0;
    border-width: 0;
    height: 14px;
    text-indent: -99999px;
    float: right;
}
#extension__manager .showinfo .legend  input.button {
    background: transparent url(images/up.png) no-repeat 0 0;
}
#extension__manager div.status.maybe {background-color: #fc1;}
#extension__manager div.status.probably  {background-color: yellow;}
#extension__manager div.status.compatible {background-color: #bfb;}
#extension__manager div.status {
    padding: 0em 0.3em;
    margin: 0em 0.3em;
    font-size: 80%;
    float: right;
}
#extension__manager .legend div.progress {
    background-color: __background__;
    border: 1px solid silver;
    height: .4em;
    margin: 0 auto;
    padding: 1px;
    width: 5.5em;
    float: right;
}
#extension__manager .legend div.progress div {
    background-color: __border__;
    height: 100%;
}
#extension__manager .legend div.progress div span {
    display: none;/* @todo: hide accessibly */
}
#extension__manager .screenshot {
    padding: 4px;
    text-align: center;
}
#extension__manager .actions {
    background-color: __background_alt__;
    font-size: 95%;
    width: 25%;
}
#extension__manager .actions p {
    margin: 0.2em 0em;
    text-align: center;
}

/*
 * extensions table, detailed info box
 */
#extension__manager dl.details {
    margin: 0.2em 0em;
    border: 1px dashed gray;
    font-size: 85%;
}
#extension__manager dl.details dt {
	clear: left;
	float: left;
	width: 150px;
	margin: 0;
    text-align: right;
    font-weight: bold;
	padding: 0.2em 5px 0 0;
}
#extension__manager dl.details dd {
	margin-left: 150px;
	padding: 0.2em 0 0 5px;
}
#extension__manager a.donate {
    background: transparent url(images/donate.png) no-repeat 0 0;
	margin-left: 4px;
	padding: 16px 32px 0 0;
    position: relative;
    top: -24px;
}
/*
 * extensions table, messages
 */
#extension__manager div.message {
    background-position: 0.6em 0.1em;
    padding: 0.1em 1em 0.2em 3em;
    margin-top: 0.2em;
    margin-left: 52px;
    border-radius: 1em;
}
#extension__manager div.notify {
    border: 1px solid #DDDD00;
}
#extension__manager div.error {
    border: 1px solid red;
}

/* end admin plugin styles */
