/*
 * admin plugin extension - style additions
 *
 * @author  Christopher Smith  chris@jalakai.co.uk
 * @link    http://wiki.jalakai.co.uk/dokuwiki/doku.php/tutorials/adminplugin
 */

#extension__manager h2 {
    margin-left: 0;
}

#extension__manager form {
    display: block;
    margin: 0;
    padding: 0;
}

#extension__manager legend {
    display: none;
}

#extension__manager fieldset {
    width: auto;
}

#extension__manager .button {
    margin: 0.3em;
}

#extension__manager p,
#extension__manager label {
    margin:0;
}

#extension__manager .hidden {
    display: none;
}

#extension__manager .pm_menu {
    margin: 0;
    text-align: left;
    float: left;
    width: 100%;
    border-bottom:1px solid __border__;
}
#extension__manager .pm_menu ul {
    list-style:none;
    padding:0 0.3em;
    margin:1em 0 0 1em;
}

#extension__manager .pm_menu ul li {
    list-style:none;
}

#extension__manager .pm_menu ul li a {
    font-weight: bold;
    display: block;
    float:left;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 2px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#extension__manager .pm_menu .selected {
    background-color: __background_alt__;
    color: __text_alt__;
}

#extension__manager .pm_menu a:hover {
    background-color: __background_alt__;
    color: __text_alt__;
    opacity: 0.5;
}

#extension__manager .common fieldset {
    margin: 0;
    padding: 0 0 1.0em 0;
    text-align: left;
    border: none;
}

#extension__manager .common input.edit {
    width: 24em;
    margin: 0.5em;
}

#extension__manager .common input.tag {
    width: 10em;
}

#extension__manager .bottom {
    padding: 0.5em;
}
#extension__manager .checks {
    margin-left:1em;
}
#extension__manager .checkall,#extension__manager .checknone {
    display:none;
}
#extension__manager .checkall:hover,#extension__manager .checknone:hover {
    text-decoration:underline;
    cursor:pointer;
}
#extension__manager table {
    width:100%;
}

#extension__manager table td {
    vertical-align:middle;
}
#extension__manager .checkbox {
    width:5%;
    text-align:center;
}
#extension__manager #plugins__list .disabled, #extension__manager #templates__list .disabled {
    background: #eee;
    color: #555;
}
#extension__manager #search__result .notselect, #extension__manager #browse__list .notselect {
    background: #eee;
    color: #555;
}
#extension__manager .repo_reload {
    width:100%;
    text-align:right;
    opacity: 0.7;
}
#extension__manager .infoed {
    background: __background__;
    color: __text__;
}

#extension__manager .secissue {
    background: #fcc;
    color: #000;
}
#extension__manager #install__search label span {
    display:none;
}
#extension__manager .legend {
    vertical-align:top;
    padding:0.2em;
    padding-top:0.3em;
}
#extension__manager .legend .head {
    clear: both;
    font-weight:bold;
    margin:0;
}
#extension__manager .legend label {
    font-weight: normal;
}
#extension__manager .legend p {
    margin:0 0 0 1.5em;
}
#extension__manager .inforight {
    font-size:0.8em;
}
#extension__manager .screenshot {
    padding: 5px;
    width: 90px;
    text-align:center;
}
#extension__manager .actions {
    font-size: 95%;
    width: 20%;
}
#extension__manager .actions p {
    margin:0;
    text-align: center;
}

#extension__manager fieldset.buttons {
    border: none;
}

#extension__manager fieldset.buttons .button {
    float: left;
}

/* end admin plugin styles */
