/*
 * admin plugin extension - style additions
 *
 * @author  Christopher Smith  chris@jalakai.co.uk
 * @link    http://wiki.jalakai.co.uk/dokuwiki/doku.php/tutorials/adminplugin
 */

#plugin__manager h2 {
    margin-left: 0;
}

#plugin__manager form {
    display: block;
    margin: 0;
    padding: 0;
}

#plugin__manager legend {
    display: none;
}

#plugin__manager fieldset {
    width: auto;
}

#plugin__manager .button {
    margin: 0;
}

#plugin__manager p,
#plugin__manager label {
    text-align: left;
}

#plugin__manager .hidden {
    display: none;
}

#plugin__manager .new {
    background: #dee7ec;
}

/* IE won't understand but doesn't require it */
#plugin__manager input[disabled] {
    color: #ccc;
    border-color: #ccc;
}

#plugin__manager .pm_menu,
#plugin__manager .pm_info {
    margin-left: 0;
    text-align: left;
}

#plugin__manager .pm_menu {

    border-bottom:1px solid __border__;
}


#plugin__manager .pm_menu ul {
    list-style:none;
    padding:0 0.3em;
    margin:1em 0 0 1em;
}
#plugin__manager .pm_menu ul li {
    clear: none;
    padding:0.3em;
    margin: 0 0.4em;
    display:inline-block;
    border: 1px solid __border__;
    font-size:1em;
    border-bottom:0;
    background: __background_alt__;
    color: __text_alt__;
    font-weight: bold;
    -moz-border-radius: 1em 1em 0px 0px ;
    -webkit-border-radius: 1em 1em 0px 0px ;
    border-radius: 1em 1em 0px 0px ;
}

#plugin__manager .pm_menu ul li.selected {
    background: __background__;
    color: __text__;
}
#plugin__manager .pm_info {
    width: 100%;
}

#plugin__manager .common fieldset {
    margin: 0;
    padding: 0 0 1.0em 0;
    text-align: left;
    border: none;
}

#plugin__manager .common label {
    padding: 0 0 0.5em 0;
}

#plugin__manager .common input.edit {
    width: 24em;
    margin: 0.5em;
}

#plugin__manager .common input.tag {
    width: 10em;
}


#plugin__manager .bottom {
    padding: 0.5em;
}

#plugin__manager table {
    width:100%;
}

#plugin__manager .checkbox {
    width:5%;
    text-align:center;
}
#plugin__manager .enabled {
    background: #cfc;
    color:#000;
}
#plugin__manager .disabled {
    background: __background_neu__;
    color: __text_neu__;
}

#plugin__manager .protected {
    background: __background_alt__;
    color: __text_alt__;
}

#plugin__manager .secissue {
    background: #fcc;
    color: #000;
}
#plugin__manager .issue , #plugin__manager .warn {
    padding:0.3em;
    margin:0.1em 0.5em;
    border: 1px solid __border__;
    text-align:center;
    background: #faa;
    color:#000;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -khtml-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.2em;
}

#plugin__manager .warn {
    background: #ffc;
}
#plugin__manager .legend {
    padding:0.2em;
}
#plugin__manager .legend .head {
    clear: both;
    font-weight:bold;
}
#plugin__manager .legend p {
    margin:0 1.5em 0;
}
#plugin__manager .actions {
    font-size: 95%;
    width: 20%;
}
#plugin__manager .actions p {
    margin:0;
    text-align: center;
}

#plugin__manager fieldset.buttons {
    border: none;
}

#plugin__manager fieldset.buttons .button {
    float: left;
}

#plugin__manager .pm_info h3 {
    margin-left: 0;
}

#plugin__manager .pm_info dl {
    margin: 1em 0;
    padding: 0;
}

#plugin__manager .pm_info dt {
    width: 6em;
    float: left;
    clear: left;
    margin: 0;
    padding: 0;
}

#plugin__manager .pm_info dd {
    margin: 0 0 0 7em;
    padding: 0;
    background: none;
}

/* end admin plugin styles */
